<div>

    <!-- L I S T   I T E M -->
    <p><u>01 - List Item</u></p>
    <md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="column">
            <p>First Line</p>
            <p>Second Line</p>  
        </div>
    </md-list-item>
    
    <!-- M E N U -->
    <p><u>02 - Menu</u></p>
    <md-menu>
    <!-- Trigger element is a md-button with an icon -->
        <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open sample menu">
            <md-icon md-svg-icon="img/idea.svg">Phone</md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item><md-button ng-click="doSomething()">File</md-button></md-menu-item>
            <md-menu-item><md-button ng-click="doSomething()">Other</md-button></md-menu-item>
            <md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item>
        </md-menu-content>
    </md-menu>
    
    <!-- M E N U   B A R -->
    <p><u>03 - Menu bar</u></p>
    <md-menu-bar>
        <md-menu>
            <button ng-click="$mdMenu.open()">Sample Menu</button>
            <md-menu-content>
                <md-menu-item type="checkbox" ng-model="settings.allowChanges">Allow changes</md-menu-item>
                
                <md-menu-divider></md-menu-divider>
                <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 1</md-menu-item>
                <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 2</md-menu-item>
                <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 3</md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-menu-bar>
   
    <!-- N A V   BA R -->
    <p><u>04 - Nav bar</u></p>
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('page1')" name="page1">Page One</md-nav-item>
        <md-nav-item md-nav-click="goto('page2')" name="page2">Page One</md-nav-item>
        <md-nav-item md-nav-click="goto('page3')" name="page3">Page One</md-nav-item>
    </md-nav-bar>
    <div class="ext-content">
        External content for: <span>{{currentNavItem}}</span>
    </div>
    
    <!-- N A V   I T E M -->
    <p><u>05 - Nav item</u></p>
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('page1')" name="page1">Only one item</md-nav-item>
    </md-nav-bar>
    
    <!-- O P T G R O U P -->
    <p><u>06 - Optgroup</u></p>
    <md-select ng-model="currentState" placeholder="Select a state">
        <md-optgroup label="Southern">
            <md-option ng-value="AL">Alabama</md-option>
            <md-option ng-value="FL">Florida</md-option>
        </md-optgroup>
        
        <md-optgroup label="Northern">
            <md-option ng-value="AK">Alaska</md-option>
            <md-option ng-value="MA">Massachusetts</md-option>
        </md-optgroup>
    </md-select>
   
    <!-- O P T I O N -->
    <p><u>07 - Option</u></p>
    <md-select ng-model="currentState" placeholder="Select a state">
        <md-option ng-value="AL">Alabama</md-option>
        <md-option ng-value="AK">Alaska</md-option>
        <md-option ng-value="FL">Florida</md-option>
    </md-select>
    
    <!-- P R O G R E S S    C I R CU L A R -->
    <p><u>08 - Progress circular</u></p>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    
    <!-- P R O G R E S S    L I N E A R -->
    <p><u>09 - Progress linear</u></p>
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>