<dvi>
   
    <!-- F O R C E   H E I G H T -->
    <p><u>01 - Force Height</u></p>
    <div
        style="border: 2px solid red;"
        md-force-height="'100px'">
    </div>
    
    <!-- G R I D   L I S T -->
    <p><u>02 - Gird list</u></p>
    <md-grid-list md-cols="4" md-row-height="4:1" md-gutter="8px">
        <md-grid-tile class="gray"  ng-repeat="item in items" md-colspan="4">
            <div layout="row" flex>
                <div flex>this row</div>
                <div flex>should repeat</div>
                <div flex>for every</div>
                <div flex>item</div>
            </div>
        </md-grid-tile>
    </md-grid-list>
    
    <!-- G R I D   T I T L E -->
    <p><u>03 - Grid title</u></p>
    <md-grid-list md-cols="4" md-row-height="4:1" md-gutter="8px">
        <md-grid-tile class="gray" md-colspan="4">
            <div layout="column" layout-fill>this is a static row</div>
        </md-grid-tile>
    </md-grid-list>
    
    <!-- H I G H L I G H T   T E X T -->
    <p><u>04 - Highlight text</u></p>
    <h4 md-highlight-text="highlight">Text highlight</h4>
   
    <!-- I C O N -->
    <p><u>05 - Icon</u></p>
    <md-icon md-svg-src="img/idea.svg" aria-label="idea "></md-icon>
    
    <!-- I N K   R I P P L E -->
    <p><u>06 - Ink ripple</u></p>
    <any md-ink-ripple="#FF0000">
        Ripples in red
    </any>
    
    <!-- I N P U T -->
    <p><u>07 - Input</u></p>
    <md-input-container>
        <label>Color</label>
        <input type="text" ng-model="color" required md-maxlength="10">
    </md-input-container>
    
    <!-- I N P U T   C O N T A I N E R -->
    <p><u>08 - Input container</u></p>
    <md-input-container>
        <label>Description</label>
        <textarea ng-model="user.description"></textarea>
    </md-input-container>
    
    <!-- L I S T -->
    <p><u>09 - List</u></p>
    <md-list>
        <md-list-item class="md-2-line" ng-repeat="item in todos">
            <md-checkbox ng-model="item.done"></md-checkbox>
            <div class="md-list-item-text">
                <h3>{{item.title}}</h3>
                <p>{{item.description}}</p>
            </div>
        </md-list-item>
    </md-list>
</dvi>