<div>
  
    <!-- R A D I O   B U T T O N -->
    <p><u>01 - Radio Button</u></p>
    <md-radio-group ng-model="data.group1">
        <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
    </md-radio-group>
    
    <!-- R A D I O   G R O U P -->
    <p><u>02 - Radio Group</u></p>
    <md-radio-group ng-model="data.group1">
        <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
        <md-radio-button value="Banana"> Banana </md-radio-button>
        <md-radio-button value="Mango">Mango</md-radio-button>
    </md-radio-group>
    
    <!-- S E L E C T -->
    <p><u>03 - Select</u></p>
    <div class="md-padding" ng-cloak>
        <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
            <md-optgroup aria-label="items">
                <md-option ng-repeat="item in items" ng-value="item">Item {{item}}</md-option>
            </md-optgroup>
        </md-select>
    </div>
    
    <!-- S E L E C T   O N   F O C U S -->
    <p><u>04 - Select on focus</u></p>
    <md-input-container>
        <label>Auto Select</label>
        <input type="text" md-select-on-focus>
    </md-input-container>
   
    <!-- S I D E N A V -->
    <p><u>05 - Sidenav</u></p>
    <div layout="column" style="height: 500px;" ng-cloak>

        <section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
      </md-toolbar>

      <md-content layout-margin>
        <p>
          This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>
        <md-button ng-click="toggleLeft()" class="md-accent">
          Close this Sidenav
        </md-button>
      </md-content>

    </md-sidenav>

    <md-content flex layout-padding>

      <div layout="column" layout-align="top center">
        <p>
          Developers can also disable the backdrop of the sidenav.<br/>
          This will disable the functionality to click outside to close the sidenav.
        </p>

        <div>
          <md-button ng-click="toggleLeft()" class="md-raised">
            Toggle Sidenav
          </md-button>
        </div>

      </div>

    </md-content>

  </section>

    </div>
    
    <!-- S I D E N A V   F O C U S -->
    <!--p><u>06 - Sidenav focus</u></p-->
   
    <!-- S L I D E R -->
    <p><u>07 - Slider</u></p>
    <md-slider ng-model="myValue" min="5" max="500">
</md-slider>
    
    <!-- S L I D E R   C O N T A I N E R -->
    <p><u>08 - Slider container</u></p>
    <md-slider-container>
  <span>Red</span>
  <md-slider min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider">
  </md-slider>
  <md-input-container>
    <input type="number" ng-model="color.red" aria-label="Red" aria-controls="red-slider">
  </md-input-container>
</md-slider-container>
    
    <!-- S U B H E A D E R -->
    <p><u>09 - Subheader</u></p>
    <md-subheader class="md-no-sticky">Not Sticky</md-subheader>
</div>