<div>
    
    <!-- A U T O C O M P L E T E -->
    <p><u>01 - Colors</u></p>
    <div md-colors="{background: 'accent-900-0.43'}">
        <div md-colors="{color: 'red-A100', 'border-color': 'primary-600'}">
            <span>Color demo</span>
        </div>
    </div>
    
    <!-- C O N T A C T   C H I P S -->
    <p><u>02 - Contact Chips</u></p>
    <div layout = "column" ng-cloak>
         <md-content class = "md-padding autocomplete" layout = "column">
            <md-contact-chips
               ng-model = "contacts"
               md-contacts = "querySearch($query)"
               md-contact-name = "name"
               md-contact-image = "image"
               md-contact-email = "email"
               md-require-match = "true"
               md-highlight-flags = "i"
               filter-selected = "filterSelected"
               placeholder = "To">
            </md-contact-chips>
            
            <md-list class = "fixedRows">
               <md-subheader class = "md-no-sticky">Contacts</md-subheader>
               <md-list-item class = "md-2-line contact-item"
                  ng-repeat = "(index, contact) in allContacts"
                  ng-if = "contacts.indexOf(contact) < 0">
                  <img ng-src = "{{contact.image}}" class = "md-avatar"
                     alt = "{{contact.name}}" />
                  <div class = "md-list-item-text compact">
                     <h3>{{contact.name}}</h3>
                     <p>{{contact.email}}</p>
                  </div>
               </md-list-item>
               
               <md-list-item class = "md-2-line contact-item selected"
                  ng-repeat = "(index, contact) in contacts">
                  <img ng-src = "{{contact.image}}" class = "md-avatar"
                     alt = "{{contact.name}}" />
                  <div class = "md-list-item-text compact">
                     <h3>{{contact.name}}</h3>
                     <p>{{contact.email}}</p>
                  </div>
               </md-list-item>
               
            </md-list>
         </md-content>
      </div>
      
    <!-- C O N T E N T -->
    <p><u>03 - Content</u></p>
    <md-content layout-padding>
        Lorem ipsum dolor sit amet, ne quod novum mei.
    </md-content>
    
    <!-- D A T E   P I C K E R -->
    <p><u>04 - Date picker</u></p>
    <md-datepicker ng-model="birthday"></md-datepicker>
    
    <!-- D I A L O G -->
    <p><u>05 - Dialog</u></p>
    <md-button class="md-primary md-raised edgePadding" ng-click="openFromLeft()" >
        Open dialog
    </md-button>
    
    
    <!-- D I V I D E R -->
    <p><u>06 - Divider</u></p>
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Full Bleed</span>
        </h2>
    </md-toolbar>

    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="item in messages">
                <div class="md-list-item-text">
                    <h3>{{item.what}}</h3>
                    <h4>{{item.who}}</h4>
                    <p>{{item.notes}}</p>
                </div>
            
                <md-button class="md-secondary">Respond</md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Inset</span>
        </h2>
    </md-toolbar>

    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="item in messages">
                <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}">
                <div class="md-list-item-text">
                    <h3>{{item.what}}</h3>
                    <h4>{{item.who}}</h4>
                    <p>{{item.notes}}</p>
                </div>
                <md-divider md-inset ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
    
    
    <!-- F A B   A C T I O N S -->
    <!-- Tab-Speed-Dial and Fab-toolbar-->
    <p><u>07 - Fab Actions (Speed-Dial n' Toolbar)</u></p>
    <md-fab-toolbar md-open="demo.isOpen" count="demo.count" md-direction="{{demo.selectedDirection}}">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon md-svg-src="img/idea.svg"></md-icon>
            </md-button>
        </md-fab-trigger>

        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="comment" class="md-icon-button">
                    <md-icon md-svg-src="img/idea.svg"></md-icon>
                </md-button>
                
                <md-button aria-label="label" class="md-icon-button">
                    <md-icon md-svg-src="img/plus.svg"></md-icon>
                </md-button>
                
                <md-button aria-label="photo" class="md-icon-button">
                    <md-icon md-svg-src="img/plus.svg"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>
</div>