<div>
    <div>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>About</h2>

                <md-button class="md-icon-button" aria-label="More" show-xs hide-gt-xs>
                    <md-icon md-svg-icon="img/menu.svg" ng-click="toggleLeft()"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <div flex="" layout="row" layout-md="row" layout-xs="column" class="layout-xs-columnn layout-column flex" layout-align="center center" layout-padding>
            <p flex-order-xs="2">Fundamentada en la calidad humana expresada en el trato amable, la coherencia y sinceridad hacia nuestros clientes y colaboradores. Cuando se está entre personas con este valor, cualquier proyecto humano se puede realizar y la confianza toma gran relevancia para llevarlo a cabo.</p>
            <img src="img/ebay.png" alt="" width="380" flex-order-xs="1">
        </div>
        
        <div flex="" layout="row" layout-md="row" layout-xs="column" class="layout-xs-columnn layout-column flex" layout-align="center center" layout-padding>
            <img src="img/movistar.png" alt="" width="380">
            <p>Los integrantes de DAEN cumplirán fiel y disciplinadamente todos los deberes propios de su trabajo en la empresa, sabrán ir más allá si así lo requiera el interés de la organización o los deberes de lealtad y compañerismo.</p>
        </div>
        
        <div flex="" layout="row" layout-md="row" layout-xs="column" class="layout-xs-columnn layout-column flex" layout-align="center center" layout-padding>
            <p flex-order-xs="2">El equipo de DAEN demuestra empatía y tolerancia, reconoce y comprende individualidades. Demuestran ser justos, cuidadosos, sinceros, amables y considerados en el trato con cada persona con la que se relacione como producto de su trabajo.</p>
            <img src="img/tmobile.png" alt="" width="380" flex-order-xs="1">
        </div>
        
        <div flex="" layout="row" layout-xs="column" class="layout-xs-column  layout-row flex" layout-padding layout-align="space-around center">
            <form name="convertFormCelsius">
                <md-input-container>
                    <label>Enter Celsius</label>
                    <input name="celsius" ng-model="celsius" required>
                    <div ng-messages="convertFormCelsius.celsius.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
            
                <md-input-container>
                    <label>Converted to F</label>
                    <input name="converted" ng-model="convertedC" required disabled>
                </md-input-container>
                
                <md-input-container>
                    <md-button class="md-primary" ng-click="webServiceCtoF()">Convert!</md-button>
                </md-input-container>
            </form>
        </div>
        
        <div flex="" layout="row" layout-xs="column" class="layout-xs-column  layout-row flex" layout-padding layout-align="space-around center">
            <form name="convertFormFahrenheit">
                <md-input-container>
                    <label>Enter Fahrenheit</label>
                    <input name="fahrenheit" ng-model="fahrenheit" required>
                    <div ng-messages="convertFormFahrenheit.fahrenheit.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
            
                <md-input-container>
                    <label>Converted to C</label>
                    <input name="converted" ng-model="convertedF" required disabled>
                </md-input-container>
                
                <md-input-container>
                    <md-button class="md-primary" ng-click="webServiceFtoC()">Convert!</md-button>
                </md-input-container>
            </form>
        </div>
    </div>
</div>