<div>
    <section layout="row" layout-sm="row" layout-align="start center"
 layout-wrap hide-xs>
        <md-button ui-sref="welcome">Home</md-button>
        <md-button ui-sref="about">About us</md-button>
        <md-button ui-sref="registry">Registry</md-button>
        <md-button ui-sref="summoner">Summoner</md-button>
    </section>
    
    <!-- ********************** -->
    <!-- M E N U    M O B I L E -->
    <!-- ********************** -->
    
    <section layout="row" flex show-xs hide-gt-xs>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4" show-xs>
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Menu</h1>
            </md-toolbar>

            <md-content layout-margin layout="column" show-xs>
                <md-button ui-sref="welcome">Home</md-button>
                <md-button ui-sref="about">About us</md-button>
                <md-button ui-sref="registry">Registy</md-button>
                <md-button ui-sref="summoner">Summoner</md-button>
                <md-button ng-click="toggleLeft()" class="md-accent">Close menu</md-button>
            </md-content>
        </md-sidenav>
    </section>
</div>