<div>
    <form name="registryForm">
        <!--h3 style="text-align: center">Acerca de nosotros</h3-->
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>Registry</h2>

                <md-button class="md-icon-button" aria-label="More" show-xs hide-gt-xs>
                    <md-icon md-svg-icon="img/menu.svg" ng-click="toggleLeft()"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <div flex="" layout="column" layout-md="column" layout-xs="column" class="layout-xs-columnn layout-column flex" layout-padding layout-align="space-around center">
            <img src="img/galeria-01.png" width="80%">
        </div>
        
        <div flex="" layout="row" layout-xs="column" class="layout-xs-column  layout-row flex" layout-padding layout-align="space-around center">
            <md-input-container>
                <label>Name</label>
                <input name="name" ng-model="name" required>
                <div ng-messages="registryForm.name.$error">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
            
            <md-input-container>
                <label>Last name</label>
                <input name="lastname" ng-model="lastname" required>
                <div ng-messages="registryForm.lastname.$error">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
        </div>
        
        <div flex="" layout="row" layout-xs="column" class="layout-xs-column  layout-row flex" layout-padding layout-align="space-around center">
            <md-input-container>
                <label>Email</label>
                <input name="email" ng-model="email" required>
                <div ng-messages="registryForm.email.$error">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
            
            <md-input-container>
                <label>Local phone</label>
                <input name="localphone" ng-model="localphone" required>
                <div ng-messages="registryForm.localphone.$error">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
        </div>
        
        <div flex="" layout="row" layout-xs="column" class="layout-xs-column  layout-row flex" layout-padding layout-align="space-around center">
            <md-input-container>
                <label>Mobile phone</label>
                <input name="mobilephone" ng-model="mobilephone" required>
                <div ng-messages="registryForm.mobilephone.$error">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
            
            <md-input-container>
                <p>Genere: <span class="radioValue">{{ data.group1 }}</span> </p>
                <md-radio-group ng-model="data.group1">
                    <md-radio-button value="Masculine " class="md-primary">Masculine</md-radio-button>
                    <md-radio-button value="Feminine">Feminine</md-radio-button>
                </md-radio-group>
                <div ng-messages="form.data.group1.$error">
                    <div ng-message="required" translate>Select genere pls.</div>
                </div>
            </md-input-container>
        </div>
        
        <div flex="" layout="row" layout-xs="column" class="layout-xs-column  layout-row flex" layout-padding layout-align="space-around center">
            <md-input-container>
                <label>Birthdate</label>
                <md-datepicker ng-model="birthdate" md-placeholder="Enter date"></md-datepicker>
                <div ng-messages="registryForm.birthdate.$error">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
            
            <md-input-container>
                <label>Adress</label>
                <input name="adress" ng-model="adress" required>
                <div ng-messages="registryForm.adress.$error">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
        </div>
        
        <div flex="" layout="row" layout-xs="column" class="layout-xs-column  layout-row flex" layout-padding layout-align="space-around center"> 
            <md-input-container>
                <label>City</label>
                <input name="city" ng-model="city" required>
                <div ng-messages="registryForm.city.$error">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
            
            <md-input-container>
                <label>Country</label>
                <md-select ng-model="country">
                    <md-option ng-repeat="country in countries" ng-value="country">
                        {{country}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        
        <div flex="" layout="row" layout-xs="column" class="layout-xs-column  layout-row flex" layout-padding layout-align="space-around center">  
            <md-input-container>
                <md-switch ng-model="isActive" aria-label="Finished?">Are you an Administrator? {{ isActive }}</md-switch>
            </md-input-container>
        </div>
    </form>
</div>