<div>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">

        <h2 flex md-truncate>Home</h2>

        <md-button class="md-icon-button" aria-label="More" show-xs hide-gt-xs>
          <md-icon md-svg-icon="img/menu.svg" ng-click="toggleLeft()"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <div flex="" layout="column" layout-md="column" layout-xs="column" class="layout-xs-columnn layout-column flex" layout-padding>
        <h4>Lorem</h4>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
    </div>
                
    <div flex="" layout="row" layout-xs="column" class="layout-xs-column layout-row flex" layout-padding>
        <div flex>
            <h4>Misión</h4>
            <p>
                Ser una empresa dedicada a la aplicación de sistemas de gestión en impresión y reproducción con la más alta tecnología con servicio de calidad, en un marco de honestidad, respeto y confianza. Proporcionando beneficios que brinden oportunidades de crecimiento y superación a nuestros clientes internos y externos.
            </p>
        </div>
        <div flex>
            <h4>Visión</h4>
            <p>
                Ser la empresa líder en el Estado, traspasando las fronteras del mismo, dominando nuestra área comercial para llegar a quienes requieran nuestros productos proporcionando calidad en el servicio, y personal especializado que entienda sus necesidades, exigiendo nuestro máximo esfuerzo para satisfacerlas.
            </p>
        </div>
        <div flex>
            <h4>Filosofía</h4>
            <p>
                Por ello nuestra filosofía siempre estará centrada en brindar el mejor servicio, con excelente calidad y a precios competitivos, manejando el estándar de “no ofrecer lo que no podemos cumplir”. Para lograr estar en el corazón de nuestros clientes como símbolos de respeto, ética y honestidad.
            </p>
        </div>
    </div>
                
    <div flex="" layout="row" layout-xs="column" class="layout-xs-column  layout-row flex" layout-padding>
        <div flex>
            <p>
                <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div flex>
            <p>
                <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>
</div>