<div class="container">
    <div class="menu">
       
        <div class="menuTitle">
            <div class="image">
                <img src="https://trustvesta.com/img/footer-vesta-brand.svg" class="imgItem" style="filter: brightness(0) invert(1);">
            </div>
            <div class="labelTitle">
                <a ui-sref="home" class="labelTitle">vPORTAL</a>
            </div>
        </div>
                
        <!--div class="menuItem" ng-repeat="menu in menus">
            <div class="image">
                <img class="imgItem" ng-src={{menu.img}}>
            </div>
            <div class="label">
                <a href="{{menu.link}}" class="labelMenu">{{menu.text}}</a>
            </div>
        </div-->
        
        <div class="menuItem">
            <div class="image">
                <img class="imgItem" ng-src='img/show.png'>
            </div>
            <div class="label">
                <a class="labelMenu" ui-sref="mypage">My page</a>
            </div>
        </div>
        
        <div class="menuItem">
            <div class="image">
                <img class="imgItem" ng-src='img/welcome.png'>
            </div>
            <div class="label">
                <a class="labelMenu" ui-sref="mydata">My information</a>
            </div>
        </div>
           
        <div class="menuItem">
            <div class="image">
                <img class="imgItem" ng-src='img/edit.png'>
            </div>
            <div class="label">
                <a class="labelMenu" ui-sref="mycontact">My contact</a>
            </div>
        </div>
           
        <div class="menuItem">
            <div class="image">
                <img class="imgItem" ng-src='img/add.png'>
            </div>
            <div class="label">
                <a class="labelMenu" ui-sref="testing">Testing app</a>
            </div>
        </div>
    </div>
</div>