<h4>Component 2</h4>

<div>
    <p>{{Message}}</p>
    <button ng-click="OnClick()">Broadcast</button>
</div>

<div>
    <button ng-click="OnClickEmit($event)">Emit</button>
</div>

<div>
    <component-c3></component-c3>
</div>