<p style="text-align: center">Angular Material Directives</p>
<md-tabs md-dynamic-height>
  
    <md-tab label="Summoner">
        <h4>Summoner here</h4>
    </md-tab>
    
    <md-tab label="Directives 1-9">
        <tab1></tab1>
    </md-tab>
  
    <md-tab label="Directives 10-18">
        <tab2></tab2>
    </md-tab>
  
    <md-tab label="Directives 19-27">
        <tab3></tab3>
    </md-tab>
  
    <md-tab label="Directives 28-36">
        <tab4></tab4>
    </md-tab>
  
    <md-tab label="Directives 37-45">
      <tab5></tab5>
    </md-tab>
  
    <md-tab label="Directives 46-58">
        <tab6></tab6>
    </md-tab>
</md-tabs>