<div ng-cloak>
    <!-- S W I P E    D O W N -->
    <p><u>01 - Swipe down</u></p>
    <div  ng-cloak layout="row">
  <div flex>
    <div class="demo-swipe" md-swipe-left="onSwipeLeft($event, $target)">
      <span class="no-select">Swipe me to the left</span>
      <md-icon md-font-icon="android" aria-label="android"></md-icon>
    </div>
    <md-divider></md-divider>
    <div class="demo-swipe" md-swipe-right="onSwipeRight($event, $target)">
      <span class="no-select">Swipe me to the right</span>
    </div>
  </div>
  <md-divider></md-divider>
  <div flex layout="row">
    <div flex layout="row" layout-align="center center"
         class="demo-swipe" md-swipe-up="onSwipeUp($event, $target)">
      <span class="no-select">Swipe me up</span>
    </div>
    <md-divider></md-divider>
    <div flex layout="row" layout-align="center center"
         class="demo-swipe" md-swipe-down="onSwipeDown($event, $target)">
      <span class="no-select">Swipe me down</span>
    </div>
  </div>
</div>
    
    <!-- S W I P E    L E F T ->
    <p><u>02 - Swipe left</u></p>
    
    <!-- S W I P E    R I G H T ->
    <p><u>03 - Swipe right</u></p>
    
    <!-- S W I P E    U P ->
    <p><u>04 - Swipe up</u></p>
    
    <!-- S W I T C H -->
    <p><u>05 - Switch</u></p>
    <md-switch ng-model="isActive" aria-label="Finished?">
        Finished ?
    </md-switch>
   
    <!-- T A B    n   T A B S-->
    <p><u>06 - Tab n tabs</u></p>    
    <div ng-cloak>
        <md-tabs md-dynamic-height>
            <md-tab label="Tab #1">
                <h4>Tab 1</h4>
            </md-tab>
  
            <md-tab label="Tab #2">
                <h4>Tab 2</h4>
            </md-tab>
        </md-tabs>
    </div>
    
    <!-- T O O L B A R -->
    <p><u>08 - Toolbar</u></p>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 md-truncate flex>My App's Title</h2>

            <md-button>
                Right Bar Button
            </md-button>
        </div>
    </md-toolbar>
    
    <md-content>
        Hello!
    </md-content>
    
    <!-- T O O L T I P -->
    <p><u>09 - Tooltip</u></p>
    <md-button class="md-fab md-accent" aria-label="Play">
        <md-tooltip>The idea!</md-tooltip>
        <md-icon md-svg-src="img/idea.svg"></md-icon>
    </md-button>
    
    <!-- T R U N C A T E -->
    <p><u>09 - Truncate</u></p>
    <md-button>Back</md-button>
    <md-truncate flex>Chapter 1 - The Way of the Old West</md-truncate>
    <md-button>Forward</md-button>
    
    <!-- V I R T U A L    R E P E A T -->
    <p><u>10 - Virtual repeat n Virtual repeat container</u></p>
    <div class = "vrepeatContainer" ng-cloak>
         <md-content layout = "column">
            <h2>Horizontal Repeat</h2>
            <md-virtual-repeat-container id = "horizontal-container" md-orient-horizontal>
               <div md-virtual-repeat = "item in items"
                  class = "repeated-item-horizontal" flex>
                  {{item}}
               </div>
            </md-virtual-repeat-container>            
         </md-content>
      </div>
    
    <!-- V I R T U A L    R E P E A T    C O N T A I N E R ->
    <p><u>11 - Virtual repeat container</u></p-->
   
    <!-- W H I T E F R A M E -->
    <p><u>12 - Whiteframe</u></p>
    <div md-whiteframe="4">
        <span>Elevation of 3dp</span>
    </div>
</div>