<div class="testing_container">
    <h4>This is a form.</h4>
    
    <div class="testing_containerInput">
        <input type="text" class="testing_input" ng-model="$ctrl.messageInput" placeholder="Enter something...">
    </div>
    
    <div class="testing_containerButton">
        <button class="testing_button button1" ng-click="$ctrl.onUpdate()">Save info</button>
        <button class="testing_button button1" ng-click="$ctrl.onUpdate2()">Check</button>
    </div>
       
    <div class="testing_containerButton">
        In this component: {{$ctrl.messageInput}}
    </div>
</div>