<div flex>
    <md-toolbar class="md-hue-2" md-colors="{background: 'teal'}">
        <div class="md-toolbar-tools">
            <md-menu>
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <md-icon md-svg-icon="img/menu.svg"></md-icon>
                </md-button>
            
                <md-menu-content width="6">
                    <md-menu-item>
                        <md-button ng-click="announceClick($index)">
                            <md-icon md-svg-icon="img/browser.svg"></md-icon>
                            About {{item}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="announceClick($index)">
                            <md-icon md-svg-icon="img/favorite.svg" class="iconContribute"></md-icon>
                            Contribute {{item}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <h2 flex md-truncate>Summoner information</h2>

            <md-button class="md-icon-button" aria-label="More" ng-click="redirectToLOL()">
                <img ng-src="http://opgg-static.akamaized.net/images/logo/logo-lol.png" class="md-avatar"/>
            </md-button>
        </div>
    </md-toolbar>

    <div>
        <form name="enterSummoner" layout="column" layout-align="center center">
            <div layout="row">
                <md-input-container flex="58">
                    <label>Enter summoner</label>
                    <input type="text" ng-model="summoner" ng-enter="searchSummoner()" ng-change="updateSummoner()" required ng-required="required">
                    <div ng-messages="enterSummoner.data.summoner.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
            
                <md-input-container flex="40">
                    <label>Region</label>
                    <md-select ng-model="selectedRegion" placeholder="Region" required ng-class="{'md-select-fixed-width':true}">
                        <md-option ng-value="region" ng-repeat="region in regions">{{ region.label }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-input-container>
                <md-button class="md-raised md-primary" ng-click="searchSummoner()" md-colors="{background: 'teal'}" ng-disabled="enterSummoner.$invalid">Search</md-button>
            </md-input-container>
        </form>
    </div>
    
    <!-- If we have a valid summoner we show the data about that summoner. -->
    <div flex layout-wrap ng-if="validSummoner" layout="column" layout-align="center stretch">
        <md-content flex style="border: 2px solid red">
            <md-list flex>
                <md-subheader class="md-no-sticky">Information about {{ dataSummoner.summonerName }}'s</md-subheader>
                <md-list-item class="md-3-line">
                    <img ng-src="{{ dataSummoner.icon }}" class="md-avatar"/>
                    <div class="md-list-item-text" layout="column">
                        <h3>Summoner name: {{ dataSummoner.summonerName }}</h3>
                        <!--h4>ID: {{ data.id }}</h4-->
                        <p>Level: {{ dataSummoner.summonerLevel }}</p>
                        <p>Region: {{ dataSummoner.summonerRegion.name }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
        
        <summoner-rank summonerID="{{summonerID}}"></summoner-rank>
        
    </div>
    
   <!-- If we haven't a valid summoner we show the data about that summoner. -->
    <div ng-if="invalidSummoner" layout="column" layout-align="space-around center">
        <h4>Sorry :( We couldn't find a summoner.</h4>
        <img src="img/sad.gif" alt="">
    </div>
</div>