<div>
   
    <!-- A U T O C O M P L E T E -->
    <p><u>01 - Autocomplete</u></p>
    <md-autocomplete style="width: 40%" md-no-cache="true" md-selected-item="selectedItem" md-items="item in items" md-search-text="searchText" md-item-text="item.display" placeholder="State">
        <span>{{ item.display }}</span>
    </md-autocomplete>
   
    <!-- A U T O   F O C U S -->
    <p><u>02 - Auto focus</u></p>
    <md-input-container>
        <label for="testInput">User</label>
        <input id="testInput" type="text" md-autofocus>
    </md-input-container>
    
    <!-- B U T T O N -->
    <p><u>03 - Button</u></p>
    <md-button class="md-raised md-primary">Primary</md-button>
    
    <!-- C A L E N D A R -->
    <p><u>04 - Calendar</u></p>
    <md-calendar ng-model="birthday"></md-calendar>
    
    <!-- C A R D -->
    <p><u>05 - Card</u></p>
    <md-card>
        <md-card-content>
            <h2>Card headline</h2>
            <p>Card content</p>
        </md-card-content>
        
        <md-card-footer>
            Card footer
        </md-card-footer>
    </md-card>
    
    <!-- C H E CK B O X -->
    <p><u>06 - Checkbox</u></p>
    <md-checkbox ng-model="isChecked" aria-label="Finished?">
        Finished: {{isChecked}}
    </md-checkbox>
    
    <!-- C H I P -->
    <p><u>07 - Chip</u></p>
    <md-chips>
        <md-chip>Angular</md-chip>
        <md-chip>ReactJS</md-chip>
        <md-chip>Vue.JS</md-chip>
    </md-chips>
    
    <!-- C H I P S   R E M O V E -->
    <p><u>08 - Chip - Remove</u></p>
    <md-chips ng-model="roFruitNames" name="fruitName" readonly="readonly"
                md-removable="removable" md-max-chips="5" placeholder="Enter a fruit..."
                input-aria-label="Fruit names">
        <md-chip-template>
            <strong>{{$chip}}</strong>
            <em>(fruit)</em>
        </md-chip-template>
    </md-chips>
      
    <p><u>09 - Chips</u></p>
    <md-chips ng-model="roFruitNames" placeholder="Add an item, max 5" md-max-chips="5"></md-chips>
</div>